* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* just for a test */
h1 {
    color: red;
}

header {
    position: relative;
    width: 100%;
}

.logoGroup {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 100%;
    color: whitesmoke;
}