* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

body {
    max-width: 600px;
    align-content: center;
}

header {
    width: 100%;
}

.logoGroup {
    color: whitesmoke;
    
    background-image: url('./assets/bg-img.png');
    background-repeat: no-repeat;
    background-size: 100%;

    padding: 41px 2rem;
}